{% extends 'base.html' %}
{% block title %}新增案例{% endblock %}
{% block css %}
    <style>
        pre {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 5px;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    </style>{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2><span class="badge badge-secondary">接口信息</span></h2>
        </div>
        <div class="card-body">
            <form id="apicaseform" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="form-group row">
                    <label for="apiname" class="col-sm-1 col-form-label">接口名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="apiname" name="apiname"
                               value="{{ api_info.api_name|default:'' }}" required disabled>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="apiurl" class="col-sm-1 col-form-label">接口地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="apiurl" value="{{ api_info.api_url|default:'' }}"
                               name="apiurl" required disabled>
                    </div>
                </div>


                <div id="addheader" style="display: none">
                    <div class="form-group row" id="headeraddon">
                        <label for="" class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-2">
                            <input type="text" aria-label="key" class="form-control" placeholder="参数名"
                                   name="caseparamkey"
                            >
                        </div>
                        <div class="col-sm-4">
                            <input type="text" aria-label="value" class="form-control" placeholder="参数值"
                                   name="caseparamvalue">
                        </div>
                        <div class="col-sm-1 ml-0">
                            <button type="button" class="btn btn-default" id="delnew">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-dash-circle"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="busi" class="col-sm-1 col-form-label">业务线</label>
                    <div class="col-sm-3">
                        <select class="custom-select" id="busi" name="busi" required disabled>
                            <option selected disabled value="">Choose...</option>
                            {% for busi in busi_list %}
                                <option value="{{ busi.busi_id }}" {% if api_info.api_busi.busi_id == busi.busi_id %}
                                        selected {% endif %} >{{ busi.busi_name }}</option>
                            {% endfor %}


                        </select>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="method" class="col-sm-1 col-form-label">请求方式</label>
                    <div class="col-sm-3">
                        <select class="custom-select" id="method" name="method" required disabled>
                            <option selected disabled value="">Choose...</option>
                            {% if api_info.api_type == 0 %}
                                <option value="0" selected>GET</option>
                                <option value="1">POST</option>
                            {% else %}
                                <option value="0">GET</option>
                                <option value="1" selected>POST</option>
                            {% endif %}


                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row ">
                        <legend class="col-form-label col-sm-1 pt-0">参数格式</legend>
                        <div class="col-sm-8 ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="contenttype" id="gridRadios1"
                                       value="1" {% if api_info.api_contenttype == 1 %} checked {% endif %} disabled>
                                <label class="form-check-label" for="gridRadios1">
                                    Form-data
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="contenttype" id="gridRadios2"
                                       value="2" {% if api_info.api_contenttype == 2 %} checked {% endif %} disabled>
                                <label class="form-check-label" for="gridRadios2">
                                    URL-ENCODE
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="contenttype" id="gridRadios3"
                                       value="3" {% if api_info.api_contenttype == 3 %} checked {% endif %} disabled>
                                <label class="form-check-label" for="gridRadios3">
                                    JSON
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h2><span class="badge badge-secondary">用例信息</span></h2>
                <hr>
                <div class="form-group row">
                    <label for="apicasename" class="col-sm-1 col-form-label">用例名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="apicasename" name="apicasename"
                               placeholder="请输入用例名称" value="{{ caseinfo.apicase_name|default:''}}"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="apicasedesc" class="col-sm-1 col-form-label">用例描述</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="apicasedesc" name="apicasedesc"
                               placeholder="请输入用例描述" value="{{ caseinfo.apicase_desc|default:''}}"
                               required>
                    </div>
                </div>
                {% if api_info.api_contenttype == 1 %}
                    {% if params %}
                        {% for key,value in params.items %}

                            {% if forloop.first %}
                                <div class="form-group row" id="headerparam">
                                    <label for="inputPassword3" class="col-sm-1 col-form-label">请求参数</label>
                                    <div class="col-sm-2">
                                        <input type="text" aria-label="key" class="form-control" name="caseparamkey"
                                               value="{{ key|default:'' }}" placeholder="参数名"
                                        >
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" aria-label="value" class="form-control" name="caseparamvalue"
                                               value="{{ value|default:'' }}" placeholder="参数值">
                                    </div>
                                    <div class="col-sm-1 ml-0">
                                        <button type="button" class="btn btn-default" id="addnew">
                                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                                 class="bi bi-plus-circle"
                                                 fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path fill-rule="evenodd"
                                                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            {% else %}
                                <div class="form-group row" id="headeraddon">
                                    <label for="inputPassword3" class="col-sm-1 col-form-label"></label>
                                    <div class="col-sm-2">
                                        <input type="text" aria-label="key" class="form-control" value={{ key }}
                                                name="caseparamkey"
                                        >
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" aria-label="value" class="form-control" value={{ value }}
                                                name="caseparamvalue">
                                    </div>
                                    <div class="col-sm-1 ml-0">
                                        <button type="button" class="btn btn-default" id="delnew">
                                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                                 class="bi bi-dash-circle"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path fill-rule="evenodd"
                                                      d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            {% endif %}

                        {% endfor %}
                    {% else %}
                        <div class="form-group row" id="headerparam">
                            <label for="inputPassword3" class="col-sm-1 col-form-label">请求参数</label>
                            <div class="col-sm-2">
                                <input type="text" aria-label="key" class="form-control" name="caseparamkey"
                                       placeholder="参数名"
                                >
                            </div>
                            <div class="col-sm-4">
                                <input type="text" aria-label="value" class="form-control" name="caseparamvalue"
                                       placeholder="参数值">
                            </div>
                            <div class="col-sm-1 ml-0">
                                <button type="button" class="btn btn-default" id="addnew" data-toggle="tooltip"
                                        data-placement="right" title="点击添加多对参数">
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="form-group row">
                        <label for="apicasecontent" class="col-sm-1 col-form-label">参数</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="apicontent" name="apicasecontent" required>{{ caseinfo.apicase_params|default:'' }}</textarea>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group row">
                    <label for="returncode" class="col-sm-1 col-form-label ">返回码</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="returncode" name="returncode" placeholder="请输入接口返回码"
                               value=""
                               required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1 ">
                        <label for="apicheckpoint">检查点</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="checkexpress" data-toggle="tooltip" data-placement="top" data-html="true"
                                   title="例如$.result.list[0].data.title">表达式 <a>
                                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-info-circle"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                    <circle cx="8" cy="4.5" r="1"/>
                                </svg>
                            </a></label>
                            <input type="text" aria-label="key" class="form-control" name="checkpointkey"
                                   id="checkexpress"
                                   value="{{ caseinfo.apicase_express|default:'' }}"
                                   required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="checkresult">期望值</label>
                            <input type="text" aria-label="value" class="form-control" name="checkpointkeyvalue"
                                   id="checkresult"
                                   value="{{ caseinfo.apicase_except|default:'' }}" required>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="mr-1 ml-3">
                        <button type="reset" class="btn btn-dark">清空</button>
                    </div>


                    <div class="mr-1">
                        <button type="submit" class="btn btn-dark">保存</button>
                    </div>

                    <div class="mr-1">
                        <a class="btn btn-dark active" id="singlerequest">单次请求</a>
                    </div>


                </div>

            </form>

            <div class="modal fade" id="caseModal" tabindex="-1" role="dialog" aria-labelledby="caseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-0" id="info">
                                <i class="fa fa-check-circle text-success mr-1" aria-hidden="true"></i>
                                用例保存成功，请到用例列表页查看
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div style="display: none" id="resulttabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="success-tab" data-toggle="tab" href="#successtab" role="tab"
                           aria-controls="home" aria-selected="true">SUCCESS</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="failure-tab" data-toggle="tab" href="#failuretab" role="tab"
                           aria-controls="profile" aria-selected="false">FAILURE</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#headercontent" role="tab"
                           aria-controls="contact" aria-selected="false">请求头</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content border-dark " id="myTabContent">
                    <div class="tab-pane fade " id="successtab" role="tabpanel" aria-labelledby="home-tab"><pre
                            id="successinfo"></pre>
                    </div>
                    <div class="tab-pane fade" id="failuretab" role="tabpanel" aria-labelledby="profile-tab"><pre
                            id="failureinfo"></pre>
                    </div>
                    <div class="tab-pane fade" id="headercontent" role="tabpanel" aria-labelledby="contact-tab"><pre
                            id="successheader"></pre>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>



{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#addnew').click(function () {
                $('#headerparam').after($('#addheader').html())

            });
            $('#apicaseform').on('click', "#delnew", function () {
                $(this).parent().parent().remove()
            });
            $('[data-toggle="tooltip"]').tooltip();
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            form.classList.add('was-validated');
                        } else {
                            event.preventDefault();
                            submitFormData()
                        }

                    }, false);
                });
            }, false);

            $('#singlerequest').click(function () {
                //获取参数
                let formData = {};
                let singlerequestParam = $('#apicaseform').serializeArray();
                // 获取已经带出来的参数，因为序列化没办法 把disabled元素取出来
                let apiName = $('#apiname').val();
                let url_path = $('#apiurl').val();
                let method = $('#method option:selected').val();
                singlerequestParam.push({name: "path", value: url_path});
                singlerequestParam.push({name: "method", value: method});
                singlerequestParam.push({name: "apiName", value: apiName});
                //console.log(singlerequestParam);
                //循环序列化成数组的表单数据 然后添加到字典formData中
                $.each(singlerequestParam, function () {
                    formData[this.name] = this.value;
                });
                //console.log(formData);

                //自己写验证规则
                //let forms = $('.needs-validation');
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        form.classList.add('was-validated');
                    } else {
                        // 发送请求
                        $.ajax({
                            async: false,
                            url: '/api/singlerequest/',
                            method: 'POST',
                            data: singlerequestParam,
                            success: function (resp) {
                                if (resp.returncode === 200) {
                                    $('#failure-tab').attr("class", 'nav-link disabled');
                                    ress = resp.result;
                                    resss = resp.request_header;
                                    $('#successinfo').html(syntaxHighlight(ress));
                                    $('#successheader').html(syntaxHighlight(resss));
                                    $('#successtab').attr("class", 'tab-pane fade active show');
                                    $('#resulttabs').show();

                                } else {
                                    $('#success-tab').attr("class", 'nav-link disabled');
                                    let tabResult = $('#failuretab');

                                    $('#failureinfo').html(syntaxHighlight(resp.result));
                                    $('#successheader').html(syntaxHighlight(resp.request_header));
                                    tabResult.attr("class", 'tab-pane fade active show');
                                    $('#failure-tab').attr("class", 'nav-link active');

                                    $('#resulttabs').show()
                                }
                            }
                        });
                    }
                });
            });

            //保存时候，验证完必填项之后，序列化form表单元素 提交保存
            function submitFormData() {
                let apicaseinfo = {name: "path", value: ""};
                apicaseinfo['value'] = window.location.pathname;
                let busi_id = {name:"busi_id",value:0};
                busi_id['value']= $('#busi option:selected').val();
                //console.log(apicaseinfo);
                let params = $('#apicaseform').serializeArray();
                params.push(apicaseinfo);
                params.push(busi_id);
                $.ajax({
                    async: false,
                    type: 'post',
                    url: '/api/caseadd/',
                    data: params,
                    success: function (resp) {
                        if (resp.returncode === 200) {
                            $('#info').html("<i class=\"fa fa-check-circle text-success mr-1\" aria-hidden=\"true\"></i>用例保存成功，请到用例列表页查看");
                            $('#caseModal').modal('show');
                            setTimeout("$('#caseModal').modal('hide')", 3000)
                        } else if(resp.returncode === 201){
                            let reason = resp.message;
                            $('#info').html("<i class=\"fa fa-times text-danger mr-1\" aria-hidden=\"true\"></i>用例保存失败，原因："+reason);
                            $('#caseModal').modal('show');
                            setTimeout("$('#caseModal').modal('hide')", 3000)
                        } else {
                            $('#info').html("<i class=\"fa fa-check-circle text-success mr-1\" aria-hidden=\"true\"></i>用例保存失败，用例名称已存在");
                            $('#caseModal').modal('show');
                            setTimeout("$('#caseModal').modal('hide')", 3000)
                        }
                    }
                })

            }

            //处理后端返回给前端的json串，添加样式
            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }
        })

    </script>
{% endblock %}