{% extends 'base.html' %}
{% load static %}
{% block title %}接口用例{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}


    <div class="card-body">
        <div class="row">
            <div class="col-md-12">


                <table class="table table-bordered" id="tasktable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用例名称</th>
                        <th>业务线</th>
                        <th>请求类型</th>
                        <th>接口地址</th>

                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apicase in apicases %}
                        <tr>

                            <td class="align-middle">{{ apicase.apicase_id }}</td>
                            <td class="align-middle"><a
                                    href="{% url 'apitest:singlecase' apicase.case_api_id apicase.apicase_id %}">{{ apicase.apicase_name }}</a>
                            </td>
                            <td class="align-middle">{{ apicase.case_api.api_busi.busi_name }}</td>
                            <td class="align-middle">{{ apicase.case_api.get_api_type_display|upper }}</td>
                            <td class="text-truncate align-middle"
                                style="max-width: 280px;">{{ apicase.case_api.api_url }}</td>

                            <td class="align-middle">{{ apicase.apicase_c_time|date:"Y/m/d H:m:s" }}</td>

                            <td>
                                <div class="btn-group btn-group-justified " role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'apitest:singlecase' apicase.case_api_id apicase.apicase_id %}"
                                           class="btn btn-primary ">单次请求</a>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'apitest:singlecase' apicase.case_api_id apicase.apicase_id %}"
                                           class="btn btn-warning">编辑用例</a>

                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-danger " type="button" id="deltable"> 删除用例</button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel"><span>用例删除提示 <i class="fa fa-exclamation-circle"></i></span>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body font-weight-bold">
                    api测试用例删除后，<span class=" font-weight-bold">巡查任务中也会默认删除！</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="del">确认删除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="caseModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0" id="info">
                        <i class="fa fa-check-circle text-success mr-1" aria-hidden="true"></i>
                        case删除成功
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'vendor/bootstrap/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(function () {
            $('#tasktable').DataTable({
                dom: '<"top">rt<"bottom"fp><"clear">',
                paging: true,       <!-- 允许分页 -->
                lengthChange: false, <!-- 允许改变每页显示的行数 -->
                searching: true,    <!-- 允许内容搜索 -->
                ordering: false,     <!-- 允许排序 -->
                info: false,         <!-- 显示信息 -->
                autoWidth: false,    <!-- 固定宽度 -->
                language: {
                    lengthMenu: '<select class="form-control input-xsmall">' + '<option value="5">5条/页</option>' + '<option value="10">10条/页</option>' + '<option value="20">20条/页</option>' + '<option value="30">30条/页</option>' + '<option value="40">40条/页</option>' + '<option value="50">50条/页</option>' + '</select>',//左上角的分页大小显示。
                    processing: "载入中",//处理页面数据的时候的显示
                    paginate: { //分页的样式文本内容。
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后一页"
                    },

                    zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "总共_PAGES_ 页，显示第_START_ 到第 _END_ ",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0条记录",//筛选为空时左下角的显示。
                    infoFiltered: "", //筛选之后的左下角筛选提示(另一个是分页信息显示，在上面的info中已经设置，所以可以不显示)，
                    search: "搜索",
                }

            });
            let tbody = $('tbody');

            tbody.on('click', '#deltable', function () {

                var form_value = [];
                $(this).parent().parent().parent().parent().children('td').each(function () {
                    form_value.push($(this).text());
                });
                var apicase_id = form_value[0];
                $('#secondModal').modal('show');
                var thistr = $(this); //将此条的对象赋值 才能在ajax中用
                $('#del').click(function () {
                    $('#secondModal').modal('hide');
                    $.ajax({
                        async: false,
                        type: 'GET',
                        url: "/api/delcase/",
                        data: {'apicase_id': apicase_id},
                        dataType: "JSON",
                        success: function (resp) {
                            if (resp.returncode === 200) {
                                //console.log(resp.returncode);
                                thistr.parent().parent().parent().parent().remove();
                                $('#finishModal').modal('show');
                                setTimeout("$('#finishModal').modal('hide')", 5000)

                            }
                        }
                    });

                })


            })
        })


    </script>
{% endblock %}