{% extends 'base.html' %}
{% load static %}
{% block title %}接口巡查{% endblock %}
{% block css %}
    <link href="{% static 'apitest/css/jquery-gentleSelect.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'apitest/css/jquery-cron.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
    <style type="text/css">
        .transferBox {
            height: 100%;
            border: 1px solid #beb8b8;
            border-radius: 6px;
        }

        .shuttleBtn {
            height: 100%;
        }

        .transferBtn .btn {
            display: block;
        }

        .transferBtn .btn:first-child {
            margin-bottom: 20px;
        }

        .transferBtn .btnList {
            position: absolute;
            width: 80%;
            top: 50%;
            margin-top: -40px;
        }

        .transferBox .search {
            width: 100%;
        }

        .transferBtn .btn-default {
            background: #ccc;
            cursor: no-drop;
        }
    </style>
{% endblock %}
{% block content %}
    {#    <div class="row">#}
    {#    <div class="col-12 text-center">#}
    {#        <button class="btn btn-primary">aaaaaaaaaaa</button>#}
    {#        </div>#}
    {#    </div>#}
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card  shadow h-100 py-2 "
                 data-servername="aaa">
                <div class="card-header" id="header">
                    <div class="row">
                        <div class="col-9">
                            <div class="text-md font-weight-bold text-primary text-uppercase mb-1">
                                巡查任务:mockjson接口监控
                            </div>
                        </div>
                        <div class="col-1 text-center" id="editserverinfo">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </div>
                        <div class="col-2 text-center" id="delserver">

                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-x"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm1.146-7.85a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row ml-1 ">
                        <a class="text-primary font-weight-bold" data-toggle="collapse"
                           data-target="#collapseExample" aria-expanded="false"
                           aria-controls="collapseExample">
                            巡查任务用例 <span class="badge badge-light">4</span>
                        </a>
                    </div>
                    <div class="row mt-2 ml-1">
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <li><a href="">testcase1aaaaaaaaaaaaa</a></li>
                                <li><a href="">testcase1</a></li>
                                <li><a href="">testcase1</a></li>
                                <li><a href="">testcase1</a></li>
                                <li><a href="">testcase1</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <form action="">
                        <div class="form-group row">
                            <label for="crontab" class="col-4 col-form-label">定时运行：</label>
                            <div class="col-8">
                                <input type="text" class="form-inline form-control" id="crontab" value=" * * * * *"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-danger btn-block">查看执行详情</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card  shadow h-100 py-2 "
                 data-servername="aaa">
                <div class="card-header" id="header">
                    <div class="row">
                        <div class="col-8">
                            <div class="text-md font-weight-bold text-primary text-uppercase mb-1">
                                名称:{{ server.server_name }}</div>
                        </div>
                        <div class="col-2" id="editserverinfo">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </div>
                        <div class="col-2" id="delserver">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-x"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm1.146-7.85a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-1">
                            <div class="text-md font-weight-bold text-primary text-uppercase mb-1"
                                 id="server_ip">
                                IP地址:{{ server.server_ip }}
                                <br>
                                IP地址:{{ server.server_ip }}
                                <br>
                                IP地址:{{ server.server_ip }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <button disabled
                                    class="btn {% if server.server_status == 0 %} btn-success {% elif server.server_status == 1 %} btn-warning {% elif server.server_status == 2 %} btn-danger {% endif %}"
                                    id="server_status">{{ server.get_server_status_display }}</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4 flex-column text-center align-self-center">
            <a class="btn" id="createTask">
                <i class="fa fa-plus-square-o fa-5x"></i></a>
        </div>

        <div class="modal fade " id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新建巡查任务</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="task_name" class="col-form-label">任务名称:</label>
                                <input type="text" class="form-control" id="task_name">
                            </div>
                            <div class="form-row" id="typeTask">
                                <div class="form-group col-6">
                                    <label for="busi" class="col-form-label">业务线</label>
                                    <select class="custom-select" id="busi" name="busi" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="1">大数据部</option>
                                        <option value="2">技术中台部</option>
                                        <option value="3">技术前台部</option>
                                        <option value="4">人力部</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label for="typeOfTask" class="col-form-label">执行类型</label>
                                    <select class="custom-select" id="typeOfTask" name="typeOfTask" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value=0>自动</option>
                                        <option value=1>手动</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-10 align-self-center">
                                    <div id='selector'></div>
                                </div>
                                <div class="form-group col-2">
                                    <input type="text" id="crontab_value" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-block" disabled>添加巡查用例</button>
                            </div>
                            <div class="form-row">
                                <div id="transferContainer" class="row ml-2" style="width: 750px;"></div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="saveTask">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="caseModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0" id="info">
                        <i class="fa fa-check-circle text-success mr-1" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'apitest/js/jquery-cron-zh.js' %}"></script>
    <script type="text/javascript" src="{% static 'apitest/js/jquery-gentleSelect-min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{% static 'apitest/js/Transfer.js' %}"></script>
    <script>
        let data = [];
        $(function () {

            // cron插件声明
            //$('#selector').cron();

            //新增任务弹出模态框的监控
            $("#createTask").click(function () {
                $("#createTaskModal").modal('show');
                $('#transferContainer').transfer({
                    titles: ['待选Case', '已选Case'],
                    search: true,
                    uniqueId: "importUnitId", //唯一id
                    dataSource: data,
                    maxSelect: 10,
                    diffKey: 'flag',
                    unselectColumns: [{
                        field: 'flag',
                        checkbox: true
                    }, {
                        field: 'importUnitName',
                        title: '用例列表'
                    }]
                });
            });

            //这个是任务类型选择自动带出cron插件的监控
            $("#busi").change(function () {
                var busi_id = $("#busi option:selected").val();
                let busi_case_data;
                $.ajax({
                    url: '/api/busicaselist/',
                    async: false,
                    data: {'busi_id': busi_id},
                    type: 'GET',
                    success: function (resp) {
                        busi_case_data = resp.caseList;
                        $.each(busi_case_data, function (i, elment) {
                            //数据存储的时候true或者false要带引号，返回到前端就要去掉
                            if (elment.flag === "false") {
                                elment.flag = false
                            } else {
                                elment.flag = true
                            }
                        });
                        console.log(busi_case_data);
                        $('#transferContainer').transfer('refresh', busi_case_data)


                    }
                })
            });
            // 这个是定时任务的事件监控
            $('#selector').cron({
                initial: "* * * * *",
                onChange: function () {
                    //alert($(this).cron("value"));
                    $('#crontab_value').val($(this).cron("value"));
                }
            });
            // 穿梭框
            $('#getdata').click(function () {
                event.preventDefault();
                event.stopPropagation();
                console.log(111111);
                var getdata = $('#transferContainer').transfer('getData', 'selectData');
                alert(getdata);
                console.log(getdata)
            });

            //保存任务
            $('#saveTask').click(function () {
                //获取表单参数
                let task_name = $('#task_name').val();
                let busi_id = $("#busi option:selected").val();
                let typeOfTask = $('#typeOfTask option:selected').val();
                let cron_time = $('#crontab_value').val();
                let case_list = JSON.stringify($('#transferContainer').transfer('getData', 'selectData'));
                console.log(case_list);
                let data = {
                    'task_name': task_name,
                    'busi_id': busi_id,
                    'typeOfTask': typeOfTask,
                    'cron_time': cron_time,
                    'case_list': case_list
                };
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/api/patrolTaskcase/',
                    data: data,
                    success: function (resp) {
                        if (resp.returncode === 200) {
                            $('#info').html("<i class=\"fa fa-check-circle text-success mr-1\" aria-hidden=\"true\"></i>任务保存成功，请到任务列表页查看");
                            $('#createTaskModal').modal('hide');
                            $('#taskModal').modal('show');
                            setTimeout("$('#taskModal').modal('hide')", 3000)
                        } else if (resp.returncode === 201) {
                            $('#info').html("<i class=\"fa fa-times text-danger mr-1\" aria-hidden=\"true\"></i>任务保存失败" + resp.message);
                            $('#taskModal').modal('show');
                            setTimeout("$('#taskModal').modal('hide')", 5000)
                        } else if (resp.returncode === 202) {
                            $('#info').html("<i class=\"fa fa-times text-danger mr-1\" aria-hidden=\"true\"></i>任务保存失败" + resp.message);
                            $('#taskModal').modal('show');
                            setTimeout("$('#taskModal').modal('hide')", 5000)
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}