{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'forfun/css/base.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="description bg-white px-3 pt-3 pb-1">
                    <p class="float-right mb-0">共<span class="mx-2 text-info">{{ articles|length }}</span>篇</p>
                    <h1 class="f-17"><strong>文章分类：{{ category.name }}</strong></h1>
                    <p class="f-16">{{ category.description }}</p>
                </div>
                <div class="summary-list mt-4">
                    {% for article in articles %}
                        <div class="media mb-1 mb-sm-2 p-2 p-lg-3" style="background-color: #fff;">
                            <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
                                <a href="{{ article.get_absolute_url }}" target="_blank">
                                    <img class="w-100 article-img" src="{% static '/forfun/pic/summary.png' %}"
                                         alt="{{ article.title }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="text-muted mb-2 f-12">

                                    <span>{{ article.author }}</span>
                                    <span><i
                                            class="fa fa-calendar-times-o ml-2 mr-1"></i>{{ article.create_date }}</span>
                                </div>
                                <h2 class="mt-0 font-weight-bold text-info f-18">
                                    <a href="{{ article.get_absolute_url }}" target="_blank">{{ article.title }}</a>
                                </h2>
                                <p class="d-none d-sm-block mb-2 f-15">{{ article.summary|truncatechars:64 }}</p>
                                <p class="d-block d-sm-none mb-2 f-15">{{ article.summary|truncatechars:64 }}</p>
                                <div class="text-muted mb-0 f-12">
                                    <a class="cate" href="{{ article.category.get_absolute_url }}" title="查看当前分类下更多文章">
                                        <i class="fa fa-book mr-1"></i>{{ article.category }}</a>
                                    <span><i class="fa fa-eye ml-2 mr-1"></i>{{ article.views }}</span>
                                    <a href="{{ article.get_absolute_url }}#comment-block" target="_blank"
                                       title="查看文章评论">
                                        <i class="fa fa-comments ml-2 mr-1"></i></a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
                    <div class="card-header bg-white px-0">
                        <strong><i class="fa fa-paper-plane mr-2 f-17"></i>郝强-个人简介</strong>
                    </div>
                    <div class="card-body border-dark">
                        <div class="ml-2">
                            <div class="row">
                                <p class="text-md font-weight-bold"> 职位： 测试开发工程师</p>
                            </div>
                            <div class="row">
                                <p class="text-md-center font-weight-bold"> 公司： 汽车之家</p>
                            </div>
                            <div class="row">
                                <p class="text-md-center font-weight-bold "> 现居： 北京市-朝阳区</p>
                            </div>
                            <div class="row">
                                <p class="text-md-center font-weight-bold "> 老婆： 小于</p>
                            </div>
                            <div class="row">
                                <p class="text-md-center font-weight-bold "> Phone：13269791986</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
                    <div class="card-header bg-white px-0">
                        <strong><i class="fa fa-book mr-2 f-17"></i>文章分类</strong>
                    </div>

                    <ul class="list-group list-group-flush f-16">
                        {% for each in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                                <a class="category-item" href="{{ each.get_absolute_url }}"
                                   title="查看【{{ each.name }}】分类下所有文章">{{ each.name }}</a>
                                <span class="badge text-center"
                                      title="当前分类下有{{ each.total_num }}篇文章">{{ each.total_num }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
                    <div class="card-header bg-white px-0">
                        <strong><i class="fa fa-tags mr-2 f-17"></i>标签云</strong>
                    </div>
                    <div class="card-body px-0 py-3">
                        <div class="tag-cloud">

                            {% for tag in tag_list %}
                                <a href="{{ tag.get_absolute_url }}" class="tags f-16" id="tag-{{ forloop.counter }}"
                                   title="【{{ tag.name }}】标签下有{{ tag.total_num }}篇文章">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}